.anchor {
	margin-top: 50px;
}

.sep {
	margin-bottom: 50px;
	padding-top: 20px;
}

.leander {
	text-align: center;
}

.explanation {
	text-align: center;
}

.social {
	margin: 0 auto;
}
 .intro {
 	margin: 0 auto;
 }

 .mapa {
 	margin: 0 auto;
 }

/*** Navigation bar layout ***/

.leander h1 {
	color: black;
	/*text-decoration: none;
	font-size: 3em;*/
}

.leander h2 {
	color: #A10000;
	/*text-decoration: none;*/
}

body {
  background-color: #EAD8FA;
}

.explanation h2 {
	color: #FF2789;
	/*font-size: 2em;*/
}

.black {
	background: black;
	opacity: 0.8;
}

/*body {
	background-image: url("../img/IMG_0693.JPG");
  background-attachment: fixed;
  background-size: cover;
}*/

/*** equal height columns ***/

.mapa {
	height: 313px;
}

/*.explanation {
	margin-top: 8em;
}*/

.banner {
	margin-top: 3em;
}

.bearwww {
	width: 100%;
	margin: 0 auto;
}

.facebook {
	padding-bottom: 10px;
}

/*** Footer ***/

.copyright {
	display: block;
	text-align: center;
	padding-top: 50px;
}

footer {
	margin-top: 200px;
}

* {
  margin: 0;
}
html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -142px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 142px; 
}
.site-footer {
  background: #EEEEEE;
}

@media (max-width: 480px) {
 	#abt {
 		background-attachment: scroll;
  }
}

@media only screen and (max-width: 480px) {

   h1 {
      font-size: 3em;
   }

   h2 {
      font-size: 2em;
   }

}

h1, h2 {
	font-family: 'Alegreya SC', serif;
}

@media (max-width: 480px) {
 	.explanation {
 		margin-top: 0em;
  }
}

@media (max-width: 1024px) {
 	.explanation {
 		margin-top: 0em;
  }
}

@media (max-width: 480px) {
 	.mapa {
 		width: 100%;
  }
}

@media (max-width: 1024px) {
 	.mapa {
 		width: 100%;
  }
}

@media (max-width: 1024px) {
 	.picz {
 		margin-bottom: 1em;
  }
}

